@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}

<script>
    var keyValue = $.request("keyValue");
    var itemId = $.request("itemId");
    $(function () {
        if (!!keyValue) {
            $.ajax({
                url: "/ReceiptManage/ReceiptHeader/GetFormJson",
                data: { keyValue: keyValue },
                dataType: "json",
                async: false,
                success: function (data) {
                    $("#form1").formSerialize(data);
                }
            });
        }
    });
    //查询基础数据
    

    // 提交功能
    function submitForm() {
        if (!$('#form1').formValid()) {
            return false;
        }
        var postData = $("#form1").formSerialize();
        postData["F_ItemId"] = itemId;
        $.submitForm({
            url: "/ReceiptManage/ReceiptHeader/SubmitForm?keyValue=" + keyValue,
            param: postData,
            success: function () {
                $.currentWindow().$("#gridList").trigger("reloadGrid");
            }
        })
    }
</script>

<form id="form1">
    <div style="padding-top: 20px; margin-right: 20px;">
        <table class="form">
            <tr>
                <th class="formTitle">单号</th>
                <td class="formValue">
                    <input id="F_Code" name="F_Code" type="text" class="form-control required" placeholder="请输入单据单号" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">类型</th>
                <td class="formValue">
                    <input id="F_ReceiptType" name="F_ReceiptType" type="text" class="form-control required" placeholder="请输入单据类型" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">链接单号</th>
                <td class="formValue">
                    <input id="F_LinkCode" name="F_LinkCode" type="text" class="form-control required" placeholder="请输入单据类型" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">客户编码</th>
                <td class="formValue">
                    <input id="F_SupplierCode" name="F_SupplierCode" type="text" class="form-control required" />
                </td>
            </tr>
            <tr>
                <th class="formTitle">客户名称</th>
                <td class="formValue">
                    <input id="F_SupplierName" name="F_SupplierName" type="text" class="form-control " />
                </td>
            </tr>
            <tr>
                <th class="formTitle">预约入库时间</th>
                <td class="formValue">
                    <input id="F_AppointmentTime" name="F_AppointmentTime" type="text" class="form-control " />
                </td>
            </tr>
            @*<tr>
                <th class="formTitle" style="height: 35px;">选项</th>
                <td class="formValue" style="padding-top: 1px;">
                    <div class="ckbox">
                        <input id="F_IsDefault" name="F_IsDefault" type="checkbox"><label for="F_IsDefault">默认</label>
                    </div>
                    <div class="ckbox">
                        <input id="F_EnabledMark" name="F_EnabledMark" type="checkbox" checked="checked"><label for="F_EnabledMark">有效</label>
                    </div>
                </td>
            </tr>
            <tr>
                <th class="formTitle" valign="top" style="padding-top: 5px;">备注
                </th>
                <td class="formValue">
                    <textarea id="F_Description" name="F_Description" class="form-control" style="height: 60px;"></textarea>
                </td>
            </tr>*@
        </table>
    </div>
</form>
